:root {
  /* Colors */
  --color-primary: #c36;
  --color-text: #444;

  /* Font sizes */
  --text-root: 0.625rem; /** 10px */
  --text-sm: 1.4rem;
  --text-md: 1.6rem;
  --text-xl: 3.5rem;
}

/** Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:not([class]) {
  color: var(--color-primary);
  text-decoration: none;
}

a:not([class]):hover,
a:not([class]):focus {
  outline: 0;
  text-decoration: underline;
}

html {
  font-size: var(--text-root);
}

body {
  margin: 0;
  border-top: 8px solid var(--color-primary);
  font-size: var(--text-md);
  color: var(--color-text);
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dt, dd {
  margin-left: 0;
}

/** Layout */

.container {
  max-width: 40em;
}

/** Margin */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/** Colors */

.color-primary {
  color: var(--color-primary);
}

.color-current {
  color: currentColor;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ml-sm {
  margin-left: var(--text-sm);  
}

.block {
  display: block;
}

/** Fonts */

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-xl {
  font-size: var(--text-xl);
}

.font-bold {
  font-weight: bold;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.decoration-1 {
  text-decoration-thickness: 1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
